.grid .cell {
  position: absolute;
  background: #EEE;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.6);
  font-family: Raleway;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  transition: line-height 0.5s, font-size 0.5s, background-color 0.5s, box-shadow 0.5s, height 0.5s, width 0.5s, left 0.5s, top 0.5s;
}

.grid .cell:hover, .grid .cell.focussed {
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.8);
}

.grid .cell.focussed {
  background-color: #DDD;
}

.grid .width-1 {
  width: 80px;
}

.grid .width-2 {
  width: 180px;
}

.grid .width-3 {
  width: 280px;
}

.grid .width-4 {
  width: 380px;
}

.grid .width-5 {
  width: 480px;
}

.grid .width-6 {
  width: 580px;
}

.grid .width-7 {
  width: 680px;
}

.grid .width-8 {
  width: 780px;
}

.grid .width-9 {
  width: 880px;
}

.grid .width-10 {
  width: 980px;
}

.grid .width-11 {
  width: 1080px;
}

.grid .width-12 {
  width: 1180px;
}

.grid .height-1 {
  height: 80px;
  font-size: 20px;
  line-height: 80px;
}

.grid .height-2 {
  height: 180px;
  font-size: 40px;
  line-height: 180px;
}

.grid .height-3 {
  height: 280px;
  font-size: 60px;
  line-height: 280px;
}

.grid .height-4 {
  height: 380px;
  font-size: 80px;
  line-height: 380px;
}

.grid .height-5 {
  height: 480px;
  font-size: 100px;
  line-height: 480px;
}

.grid .height-6 {
  height: 580px;
  font-size: 120px;
  line-height: 580px;
}

.grid .height-7 {
  height: 680px;
  font-size: 140px;
  line-height: 680px;
}

.grid .height-8 {
  height: 780px;
  font-size: 160px;
  line-height: 780px;
}

.grid .height-9 {
  height: 880px;
  font-size: 180px;
  line-height: 880px;
}

.grid .height-10 {
  height: 980px;
  font-size: 200px;
  line-height: 980px;
}

.grid .height-11 {
  height: 1080px;
  font-size: 220px;
  line-height: 1080px;
}

.grid .height-12 {
  height: 1180px;
  font-size: 240px;
  line-height: 1180px;
}

.grid .col-1 {
  left: 10px;
}

.grid .col-2 {
  left: 110px;
}

.grid .col-3 {
  left: 210px;
}

.grid .col-4 {
  left: 310px;
}

.grid .col-5 {
  left: 410px;
}

.grid .col-6 {
  left: 510px;
}

.grid .col-7 {
  left: 610px;
}

.grid .col-8 {
  left: 710px;
}

.grid .col-9 {
  left: 810px;
}

.grid .col-10 {
  left: 910px;
}

.grid .col-11 {
  left: 1010px;
}

.grid .col-12 {
  left: 1110px;
}

.grid .row-1 {
  top: 10px;
}

.grid .row-2 {
  top: 110px;
}

.grid .row-3 {
  top: 210px;
}

.grid .row-4 {
  top: 310px;
}

.grid .row-5 {
  top: 410px;
}

.grid .row-6 {
  top: 510px;
}

.grid .row-7 {
  top: 610px;
}

.grid .row-8 {
  top: 710px;
}

.grid .row-9 {
  top: 810px;
}

.grid .row-10 {
  top: 910px;
}

.grid .row-11 {
  top: 1010px;
}

.grid .row-12 {
  top: 1110px;
}
